:root {
    --tag-selector-border-color: #BBBFC9;
    --tag-selector-border-color-focused: #5361F5;
    --tag-selector-box-shadow-focused: rgb(83, 97, 245, 0.25);
    --tag-selector-tag-background-color: #F3F3F3;
    --tag-selector-tag-color: #333;
    --tag-selector-remove-tag-divider-color: #CCC;
}

.is-tag-selector-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 4px;
    min-height: 35px;
    border-radius: 8px;
    border: 1px solid var(--tag-selector-border-color, #BBBFC9);
}

.is-tag-selector-container.is-tag-selector-focused {
    border-color: var(--tag-selector-border-color, #5361F5);
    box-shadow: 0 0 0 2px var(--tag-selector-box-shadow-focused, rgba(83, 97, 245, 0.25));
}

.is-tag-selector-tags {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.is-tag-selector-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 8px 16px;
    background-color: var(--tag-selector-tag-background-color, #F3F3F3);
    color: var(--tag-selector-text-color, #333);
    border-radius: 16px;
    font-family: inherit;
    cursor: pointer;
}

.is-tag-selector-tag.is-tag-selector-filtered {
    display: none;
}

.is-tag-selector-remove-tag {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid var(--tag-selector-remove-tag-divider-color, #CCC);
    font-size: 0.7rem;
}

.is-tag-selector-selected .is-tag-selector-remove-tag {
    display: flex;
}

.is-tag-selector-input {
    flex: 1;
    border: none;
    padding: 8px;
    background-color: transparent;
    color: var(--tag-selector-text-color, #333);
    outline: none;
    font-family: inherit;
}